
$brown:rgb(#46351D);
$darkGreen:rgb(#646F4B);
$darkBlue:rgb(#839D9A);


.jumbo{
    position: relative;
    width: 700px;
    height: 400px;
    background: #BFD2BF;
    border-radius: 25px;
   
    position: absolute;
    background: url(images/panda1.jpg)
    width 700px;
    height: 240px;
    

}






